 .css-card {
    box-shadow: 0px 8px 6px 2px rgba(0, 0, 0, 0.4);
    padding: 0!important;
    border: none;
    border-radius: 50px / 15px!important;
    min-height:max-content;
}
css-body {
    background-color:white;
}

.project-title {
    display:flex!important;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items:center; /* Vertically center items */
}

.github-logo {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.card-subtitle {
    display: block;
    margin:auto;
    padding-bottom: 0.5rem;
}

.img-fit {
    margin-left:auto;
    margin-right:auto;
    display:block;  
    width: 100%;
    height: auto;
    object-fit: cover;  
}