:root {
    --dark-bg-color: #010112ea;
    --medium-bg-color: #0a0a2fd0;
    --text-color: #FFFCF2;
    --main-bg-color: #d1cca6;
    --secondary-text-color: #403D39;
    --feature-color: #ebeb2d;
    --transparent-bg: #e4ebeb47;
}

.css-card {
    background-color: var(--medium-bg-color);
}

