/* Custom properties are accessed using the CSS var() function (e.g., color: var(--primary-color);)*/
:root {
  --dark-bg-color: #010112ea;
  --text-color: #f7f292;
  --main-bg-color: #f3f6f6;
  --secondary-color: #403D39;
  --feature-color: #ebeb2d;
  --transparent-bg: #e4ebeb47;
  --button-bg: #eb9c2dd1;
}

.main {
  background-color: var(--main-bg-color);
  padding: 2px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 3em;
  padding: 0.5em;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.css-button {
  background-color:var(--transparent-bg);
  border-color: var(--main-bg-color);
  border-width: 0.5px;
  color: white;
 
  
}