* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Custom properties are accessed using the CSS var() function (e.g., color: var(--primary-color);)*/
:root {
  --dark-bg-color: #2d2937ea;
  --medium-bg-color: #0a0a2fd0;
  --text-color: #FFFCF2;
  --main-bg-color: #d1cca6;
  --secondary-text-color: #403D39;
  --feature-color: #ebeb2d;
  --transparent-bg: #e4ebeb47;
  --button-bg: #eb9c2dd1;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 92vh;
  background-color: var(--main-bg-color);
  padding: 2px;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 0;
  text-align: center;
}

.logo {
  height: 3em;
  padding: 0.5em;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.css-button {
  background-color:var(--transparent-bg);
  border-color: var(--main-bg-color);
  border-width: 0.5px;
  color: white;
}


/* footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
} */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F8F9FA;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.button {
  background-color: var(--feature-color);
}



.css-img {
  max-width: 5%;
  min-width: 80px;
  height: auto;
}

.flex {
  display: flex;
  flex-wrap:wrap;
}