* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-bg-color: #464545;
  --medium-bg-color: #545454;
  --text-color: #FFFCF2;
  --main-bg-color: #545454;
  --secondary-text-color: #403D39;
  --feature-color: #ebeb2d;
  --feature-color2: #3feb8f;
  --transparent-bg: #e4ebeb47;
  --button-bg: #E94F37;
  --button-bg1: #eb9c2dd1;
  --transparent-orange: #eb9c2d7e;
  --nav-bg:rgb(248, 247, 247);
}

body {
  margin-top:100px;
  display: block;
  place-items: center;
  min-width: 320px;
  background-color: var(--medium-bg-color);
  padding: 5px;
  font-family: 'Montserrat', serif;
}

#root {
  padding: 0;
  text-align: center;
  min-height:max-content;
}

.logo {
  height: 3em;
  padding: 0.5em;
}

.brand {
  font-family:'Josefin Sans', sans serif;
  font-size: 2rem;
  margin-left: 1rem;
  color: black;
  text-shadow: 2px 2px 8px white;
}

footer {
  background-color: var(--dark-bg-color);
  color: var(--text-color);
  text-transform:capitalize;
  margin-left:-1rem;
  position:relative;
  width: 100vw;
  height: 120px;
  text-align: center;
  padding-top:20px;
};

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .card-button {
  background-color:var(--transparent-bg);
  border-color: var(--main-bg-color);
  border-width: 0.5px;
  color: black;
  font-size: small;
  border-radius:5px;
} */

.feature-button {
  background-color:var(--feature-color2)!important;  
  border:none;
  color:var(--secondary-text-color);
  font-size: small;
  border-radius:5px;
  min-height: 40px;
  width:150px;
  text-wrap:wrap;
  margin:3px;
  padding:3px;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color:white;
}

h1, h2, h3 {
  color: var(--text-color);
  text-align: left;  
}

h4 {
  color: var(--secondary-text-color);
}

h1 {
  font-family:'Open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2rem;
  margin-bottom:2rem;
  color:white;
}

h2, h3, h4 {
  font-family: 'Lato', serif;
}

p {
  font-family:'Montserrat', serif;
  color: var(--text-color);
  text-align:left;
  margin-top: 2rem;
  font-size: medium;
}

li {
  font-family:'Montserrat', serif;
  color: var(--text-color);
  text-align:left;
  font-size:medium;
}


ul {
  color: var(--text-color);
  font-size:small;
}

.css-img {
  min-width: 30%;
  max-width: 40%;
  height: auto;
  padding: 2px;
  margin-top: 30px;
}

row {
  margin-left: 100px;
  margin-right:100px;
}

content-container {
  padding: 1rem;
  margin: 0.5rem;
}

.word-emphasis {
  font-size:x-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 2px #000000;
}

.display-block {
  display:block!important;
}

.contact-card {
  background-color: var(--feature-color2);
  border: 3px;
  border-color: var(--feature-color2);
  border-radius:30px;
  border-style:solid;
  margin: 1rem;
  height:100px;
  width:100px;
  padding: 0 5px;
  color: var(--text-color);
}
.contact-details {
  font-size:small;
  color:var(--text-color);
  margin: 0.5rem;
}

.contact-icon {
  font-size: 40px;
  color: var(--text-color);
}

i:hover {
  color:var(--feature-color2);
}

.toggle-color1:hover {
  color: var(--feature-color2);
}

.no-wrap {
  flex-wrap:nowrap;
}

.project-title {
  display:flex!important;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: space-between;
  align-items:center; /* Vertically center items */
}

.github-logo {
  display: flex;
}

.card-title {
  color: var(--secondary-text-color);
  display:flex;
  font-size:larger;
  text-decoration: underline;
}

.min-vh {
  min-height:100vh;
}

.feature-photo {
  width: 270px;
  height: 270px;
  border-radius: 180px;
  margin-bottom: -40px;
}

.sticky-button {
  position:relative!important;
  left:140px;
  bottom:20px;  
}

.carousel-image {
  max-height:250px;
  background-color: transparent;
  object-fit:contain;
  border: 3px solid white;

}
.carousel-caption {
  color:#2d2c2c;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  bottom:0rem;
  
}

.carousel-indicators {
  margin-bottom: -2rem;
}

.feature-icon {
  max-width:100px;
  max-height:100px;
}

.feature-label {
  text-align:center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

span {
  text-decoration:none!important;
  margin-right: 4px;
  vertical-align:middle;
}

center-content {
  display: block;
  margin: auto;
}

